
/*----------- VARIABLES -----------*/

:root {
    --gray-text: #a8a4a4;
    --home-background: #ffeddb;
    --gray-shop: #f5f5f5;
}

/*----------- STYLES -----------*/

body {
    margin: 0;
    height: 100vh;

    font-family: 'Source Sans Pro', sans-serif;
}

.body-wrapper-home {
    background-color: var(--home-background);
}

.container {
    display: flex;
    min-height: calc(100vh - 50px);
    padding: 50px 50px 0 50px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/*Hamburger menu*/

.menuToggle {
    display: block;
    position: relative;
    /* top: 50px; */
    /* left: 50px; */

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

.menuToggle a {
    text-shadow: none;
    transition: text-shadow 0.3 ease;
}

.menuToggle a:hover {
    text-shadow: 0 1px gray;
}

.menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}

.menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;

    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  /* padding-top: 125px; */
  padding-top: 75px;
  
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/* #menu li
{
  padding: 10px 0;
  font-size: 22px;
} */

.menuToggle input:checked ~ ul
{
  transform: none;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    margin-top: 10px;
}

.submenu {
    margin-left: 20px;
    display: none;
    transition: display 1s;
}

.submenu.show {
    display: block;
}

.active {
    color: var(--gray-text);
    font-weight: bold;
}

.menuToggle .display-none {
    display: none;
}

/* .nav-menu */

.nav-menu {
    width: 300px;
}

.nav-menu h1 {
    font-weight: normal;
    font-size: 1.5em;
}

.margin-top-40 {
    margin-top: 40px;
}

.icons {
    margin-top: 30px;
}

.icons i {
    display: block;
    margin-top: 10px;
}

/* .main-container */

.main-container {
    width: calc(100vw - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailContact{
    color : orange;
    text-decoration: underline;
}

.main-container img {
    max-width: 100%;
}

/*Contact*/

.main-article{
    width: calc(100vw - 300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px 0 0 0;
}

/*About*/
.about .main-container {
    align-items: flex-start;
    margin-top: 70px;   
}

.about .main-container p {
    text-align: justify;
}

.aboutImg{
    width: 50%;
    margin-right: 20px;
}

.controller-container {
    position: absolute;
    bottom: 50px;
    left: 50px;
}


/*Portfolio*/

.scrollable-portfolio {
    overflow-x: scroll;
    justify-content: flex-start;
}

.scrollable-portfolio img {
    margin-left: 10px;
    height: 400px;
    width: 550px;
    object-fit: contain;
}

/* Shop */

.shop-container {
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop-card {
    width: 30%;
    margin-bottom: 30px;
}

.shop-image {
    background-color: var(--gray-shop);
    padding: 15px;
}

.shop-image img {
    width: 100%;
    display: block;
    margin: auto;
    border: 2px solid black;
}

.shop-details {
    text-align: center;
}

.shop-details p {
    margin: 30px 0 0 0;   
    font-size: large;               
}

.shop-details hr {
    width: 30px;
    border: 1px solid black;
}

/* Shop Product */

.add-to-cart {
    margin-left: 50px;
    text-align: justify;
}

.add-to-cart button {
    width: 60%;
    display: block;
    margin: 30px 0;
    padding: 10px 0;

    border: none;
    background-color: black;
    color: white;
}

.add-to-cart input {
    padding: 5px;
    height: 25px;
    width: 50px;
}

/* Diario */

.single {
    max-width: 800px;
}
.single img {
    width: 100%
}
.snipet {
    margin-bottom: 3rem
}
.snipet-title {
    font-size: 1rem;
    margin-top: 0
}
.meta {
    color: var(--gray-text);
}
.btn {
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 1rem
}
.btn:hover {
    background: var(--gray-text);
    color: #000;
}

/* Footer */

footer {
    display: flex;
    justify-content: flex-end;
    color: var(--gray-text);
    
    height: 50px;
    padding-right: 30px;
}

/* Menu in home */

.body-wrapper-home .menu{
    background-color: var(--home-background);
}

/*----------- MEDIA QUERIES -----------*/

/* Tablet devices */
@media screen and (max-width: 991px) {

    .container {
        padding-top: 25px;
        flex-direction: column;
    }

    .nav-menu {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .menuToggle {
        padding-top: 20px;
    }

    .menuToggle .display-none {
        display: block;
    }

    .menu {
        max-height: 100vh;
        width: 120px;
        padding-top: 100px;
        background-color: white;
    }

    .main-container {
        width: 100%;
        flex-direction: column;
    }

    .main-container.scrollable-portfolio {
        flex-direction: row;
    }

    .about .main-container {
        margin-top: 10px;
        width: 100%;
    }

    .aboutImg {
        width: 65%;
        margin: 0 auto 0 auto;
    }

    .main-article {
        width: 100%;
        height: inherit;
    }

    li {
        margin-top: 5px;
    }

    .margin-top-40 {
        margin-top: 25px;
    }

    .shop-container {
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }

}

/* Mobile devices */
@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .nav-menu {
        flex-direction: column-reverse;
    }

    ul.menu {
        width: 100%;
    }

    .main-container.scrollable-portfolio {
        padding: 30px 0;
        flex-direction: column;
    }

    .main-container.scrollable-portfolio img {
        height: auto;
        margin-bottom: 30px;
    }

    .main-container {
        width: 100%;
    }

    .aboutImg {
        width: 100%;
    }

    .shop-card {
        width: 100%;
    }

    .add-to-cart {
        margin-left: 0;
    }
}